### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/


### Visual Studio Code ###
.vscode/

### Variables de entorno y credenciales ###
.env
.env.*
!.env.example
application-local.properties
application-secrets.properties
secrets.properties


### Archivos de registros ###
*.log
logs/

### Archivos temporales ###
*.tmp
*.temp
*.swp
*.swo
*~
.cache/

### Archivos compilados de Java ###
*.class

### Sistema operativo ###
.DS_Store
Thumbs.db
desktop.ini